* {
    margin: 0;
    padding: 0;
}

.clr {
    clear: both;
}

img {
    vertical-align: middle;
}

.wrapper {
    background: url(../images/nothing.jpg) no-repeat center / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    animation-name: back;
    /* animation-delay: 4s; */
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes back {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(172, 172, 172, 0.384);
}


/* common part */

.wrapper .box {
    width: 700px;
    height: 450px;
    box-shadow: 0 0 3px 1px rgba(24, 24, 24, 0.7);
    background: rgba(20, 20, 20, 0.842);
    animation-name: box;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes box {
    0% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100% {
        width: 700px;
        height: 450px;
        opacity: 1;
    }
}

#describe {
    color: rgba(255, 255, 255, 0.575);
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.num {
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin-left: 130px;
    background: rgba(74, 158, 144, 0.171);
    width: 150px;
    color: rgba(255, 255, 255, 0.616);
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.result {
    text-align: center;
    background: rgba(196, 196, 196, 0.205);
    width: 300px;
    height: 40px;
    padding-top: 7px;
    font-size: 25px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.555);
}

.bp {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
}

button {
    text-align: center;
    width: 90px;
    height: 40px;
    box-sizing: border-box;
    background: rgba(122, 122, 122, 0.301);
    border-color: transparent;
    border-radius: 6px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.356);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all ease-in-out 0.5s;
}

button:hover {
    color: rgba(255, 255, 255, 0.87);
    background: rgba(151, 151, 151, 0.884);
}

.cont {
    padding-top: 10px;
    animation-name: container;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes container {
    0% {
        opacity: 0;
        padding-top: 100px;
    }
    100% {
        opacity: 1;
        padding-top: 10px;
    }
}